/*ESTE ES EL CUERPO DE MI CV*/
.cuerpo {
    display: grid;
    grid-template-columns: auto 350px 350px auto;
    grid-template-rows: 50px 290px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 50px 40px 40px 40px 80px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    row-gap: 10px;
    column-gap: 10px;
}
/*AUI VA MI FOTOGRAFIA*/
#fotografia {
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
    height: auto;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASMAAACtCAMAAADMM+kDAAAA8FBMVEUmaYVPnaRPi6QAbrr///8DlNIAAABPkaQnaYMAbLkAa7tRnqM3jKoEl9Qba5gAkdECfMIBdr9ttNsoUFRuocw/hb5frNgjZoMtcYpAg8AyeI1PjaQ0XG00aG0UNkQvdItPmaQZRlgFDxNKk5o/otNPlKQNGRpMjMEAZbcAjtEgWXFKoKxSoKMjREciaYoYaZ5DhYw+h5csgq8/kagKbLIQaqglfrEfaZEAYbU2fZBCdIk8dHxKgpkdT2Qxbn1RmqgUOEcqfKEYd7Tc6O+40+Shv9mUtdbo8PV5p89Zlsaz1Ocrer2kzOaPwuHK2+iLwOH/6o/lAAAKKUlEQVR4nO2de1/TSBSGO9vFksRSyiKIiLICkgAL6pYFFrWr3BQQvv+32dw798zkcmZS+v5nDGie3zuXN+ck6fR+a4U65vSq0wpGvY+rM0ZSrW96b80hagWjHvI2DdqoBYxCEyHvbMZIotBECCGDhKxnFJkIIc/kjG07o8REyHtpEpHVjBIThdoyaiObGfVSQsh7ZRSRvYxyExle+C1m1EO5zC781jKamChiZJaQpYx2EC6zC7+djAgTGV/4Q721jhFpIvMztn2MKBNZMGNbx2iHIhTKOCK7GDEmMh7VrGPEMZEFM7ZNjNYRB5HpqGYXI56JzEe1WKYY/fua1DlCG5S20NbGxp+Enhaj189I/YXQO+rQB/SBOvLsyTN6X8jo3YzRjJE2o/PZWAv1+bfPO1uR4jXsfYIqX/VRwujL6kS2MVovde2qP5UwWk9X+H2PZRQe/hozMgNGiVGzihmReyJ2PtqbzUfPtpCU0ccZo0JGL2eMaEb0HvJr52kzGm+wjLYmOo/+dq/TwZa0N0+MUQ95MSNeio31gV3QnhijcbicbVDDiLOH/PJ0x1rS5zBjJNE42RPNGAnVy242chjR69oTZTTON9bnf5DaQIg88ObNXmfvDan/pp9Rj3vHmquDMzM4uAJkNFYmhAw3QFICY6RhIjuqahNBMdIykRVVtYmkjMrdQuJIwUT7+B9sqKpNBOIjtkRdYCMbqmoTATAKTaQp1JlX1xQwivscnuvp24K6TpqH1DSjeCbadDXlKMs9ajujrFmm25ichcYRNcsoW84O7pzGGJ20mhHWhf69MUbdw+bH2svGGOFd6P/MGHFEtO0dNMiocUKNMeoRu8aD527daHLoAPsjFUbakSQ2ERYuPD1GiwoappBGljDSFdWFrsto2FfQYnrycSsZ8RqI/9Zg5Az7c4XqZz5qJSPGRBGjscacrcXIAdhm182IY6JIm+qIFBllZ7ePEc9EumFEidFcdvJCyxgJTBQNtlHdjNLBCxFF6mTE70KPdaARRpQYDXJGJn2kuylKHmXY5zPSCWwqjPoZI4goslqXjyQmQnphRMlHQc6ocUR1MeI/D4Mx+kQxkt1gG84NxKIZNY+oJkZyE0WMvlGbyGWZliTaTsbaYhZFWsKoyESIDSPu72W1NEgYpb8IIq7VwKjQRIgNI/5FWUbbCaNh+osgokhlRgomihiNKUYPZRkl8zloXKvKSMVEkTYpRpcVGWW/CCKKVGOkZqJY5JTtX5VlNCAYgUTaSox0+hzIMOJfl0R0E5BRBKByVIWRXrMMWT1yf5RkdBEQUcQF2GZXYKTXLEMFNvdnSUYPARFFHJsZaZkIMdUjZ60ko9uA2GbbzEjPRIgJbM5dSUb3AXgUKXdvRNdEiAlsTrcko1/JurYIWBUpxUjbRIhTGVnj6G6taEtwm94SgIwiJRhpmyi+pcRURtguGb9wQ3DfT1d+0MqRPqMyJuIxouT4bhGh24wQcBTRZVRiJkoZjWWMVDw0yAlhUcQ0I87NWgUTCW7W0oFN00MEIeC4puWj0iaKJSbkKM9DufIoYhkj3QZiUt6Qe0fb8UdFaxlLCLZypM6omolE1SN/WEhojiUEWzlSZSSuLlZg5CgQ4ngI22aDRFpFRlVNhHjVo5IeIuIaBCElRtVNhHjVo0JCQSCqHGVRBKKJTYlRDSZCTBhxnBs5oYcVntI7tbBxrZgRZSLR/keufbZ6VMCILwOVo2JG9ZgI1VU9yipHoFFEzqiWmShlVEv1iKqKWMCoV3zp6qqlemQkisjyWn0mikWua6WqRzcpI8cSRrWaCDGtbIUxlstoQESRLkTlSMyobhMxzx6Vqh5dUNU1mLgmYFS3iVA91SOqcuQDPb3NY5SbqOxmiMuohuoRVTlyAZrYBIxU+xz0dPCJ3GiPSjC6HxCMYCpHHEb1z0QZI9JHTglGj2TlCCiuMYyaMRFiq0fObqQXHO1u47rEGJmJIhSjpkyElKpHqYZ9LOkH+H58Bb6JjWEkfJShCUYikb3HBKO0YRQ4ruGMGjQRKqoeiRnh2ZeKIlCM5nNGjc1EmWRjTchogN9DGRiJIrmPmjVRJI9CtPZzNxe+B6f6/DFGWRNbChuocpT7qHETyQPbtStkhJ11QTKCimuJjzR6P8uLDiPL2NVf+SJGfewsKop0YSpHiY+aMREdSahnj5xdbUaXBprYEkY7ECZCbGD7jl+9iNFgGzuLiiIuDKGIEQggxAS2ro+PIiGjFeysrIktOxHIRpCMqGePTvHZ+FTEaAk769FMFAFkRAe2U3xVFzL6hTFaIasi08hIUj26wXaRYkbb089oR1I9uvP9DBPGaBAEt9hJZipHkaAYyatHF1e7vu86E0Yhn/4jWYQLzEQRsY/qvE+byKMYMdWjhx93pyGn6N5IMFi5ZardphgB+ogKbNzq0c3VsuMG2794le40rg2g4xokowOy3c9Z5nCIh53oOPnMEVTlCHLOpgMbEUZU9GAoinQgx1rF6hHzzBEYIkAfUZUR3eoR9TwNWBSBZSQOIyqioghU5Qh0PmJa2ZYvNQhd3GeNfumPg22zTTLqur7/4lqlV+vmdqkfpD0j8FGkozHW9ituK3nVI8f1nZ9X0t7Ih8ftIANkKIoA+oj/5roQ0+ndD/6wu7hfwfngjEAe7QdnxFSPSE4vrsnN483l0lwwIAEZiiKQjESIEk6+312+vOEOMFx5E9tUMip8c11oJ/fu+uF+ZU7AB48iUJUjWEZKb65zXIcdYNhQy7fZUJUjWEaKb66Tv49t8ia26WSk9OY6+Tvr8mdFgJ450mVU9bYbHUZKMOobiCJajKqKeXOdHqN+fxAM85eLQ26zIcea0mu0uYz6/blgsYv34EwrI6VWNpZRaKDFoUPNZZBRpF5G0imLrh6pMIoHGNXF1XJGUnmSFyHwGEV8yAGGnQUZRSCzCPo26hYu/wkjdgLCT+mOjiG3R5CMvFfzqyfHBZyc6JsH8QQkAnS8cAjyTTETjLzN1U70ZbXDhZEIQMwoNpAA0OjopAMMCJbRWfIJw+jLcidHIzEl0XF4A4Ezwj+oGl7r6sKxZMhxDATz1T6zjJgPqsZ2cgsXOzecgQwMMExgiHgfVI2uPJzFZZP48dGhSTyxwBBtij6oGs7i4ezE4eSamaFZQTFCZ+KPzqazuIu3+ydLPCAIicAYFXyXN94UHMeLmmNoiRcKiJDKJ7AjKuGwO15YtYhPpOQS9hUb2felf5T8lOonsM0t8BKpW6GS7PoEtqaAGNn1CWxNgRASL/ytEAwjycLfAoEwQvbNwzoCQaSw8NssCETeW9NXWU0QjNo9Y4MwavmMPWFUrlKtJtPXWFUNokmlEtXsFgCjdi/8HQhGrY5qsRpH5LU6qsVqHFHRzbUWqHFGrZ+xARiZvsAa1DSjKbBR04xU99jzHOUHG0ZQ9F9r/LlsBUQl3xdaLihr/2PzTT+bNQUz9vz8/49q3k6XCwTkAAAAAElFTkSuQmCC);
    background-size: 100%;
    background-repeat: no-repeat;
    --bor-color: black;
    border: 2px solid var(--bor-color);
    border-radius: 20px;
    transform: rotate(180deg);
}
/*AQUI VA LA INFORMACION PERSONAL DE MI CV*/
.con-info {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% 15% 15% 15%;
    row-gap: 6%;
}
/*AQUI VA LA INFORMACION DE MI NOMBRE*/
#info1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    font-family: Lobster;
    color: black;
    border: 1px solid black;
    animation-name: info1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/*AQUI EL EFECTO EN MI NOMBRE*/
#info1:hover {
    background: black;
    color: white;
}
/*AQUI VA LA INFORMACION DE MI EDAD*/
#info2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    font-family: monospace;
    color: black;
    border: 1px solid black;
    animation-name: info1;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
/*AQUI EL EFECTO EN MI EDAD*/
#info2:hover {
    background: black;
    color: white;
} 
/*AQUI VA LA INFORMACION DE MI TELEFONO*/
#info3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    font-family: monospace;
    color: black;
    border: 1px solid black;
    animation-name: info1;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}
/*AQUI EL EFECTO EN MI TELEFONO*/
#info3:hover {
    background: black;
    color: white;
}
/*AQUI VA LA INFORMACION DE MI FACEBOOK*/
#info4 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    font-family: monospace;
    color: black;
    border: 1px solid black;
    animation-name: info1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
/*AQUI VA EL EFECTO DE MI FACEBOOK*/
#info4:hover {
    background: black;
    color: white;
}
/*AQUI VA LA INFORMACION DE PAIS*/
#info5 {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    font-family: monospace;
    color: black;
    border: 1px solid black;
    animation-name: info1;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
/*AQUI VA EL EFECTO DE MI PAIS*/
#info5:hover {
    background: black;
    color: white;
}
/*AQUI VA LA BARRA NEGRA DE ESTUDIOS*/
#estudios {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: estudios;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE LA BARRA NEGRA DE ESTUDIOS*/
@keyframes estudios {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DE MI PREPARATORIA*/
#preparatoria {
    grid-column: 2/4;
    grid-row: 4/5;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA INFORMACION DE MI UNIVERSIDAD*/
#universidad {
    grid-column: 2/4;
    grid-row: 5/6;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA BARRA NEGRA DE MIS HABILIDADES*/
#habilidades {
    grid-column: 2/4;
    grid-row: 6/7;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: habilidades;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE MI BARRA DE HABILIDADES*/
@keyframes habilidades {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION EL SENTIDO DE LA RESPONSABILIDAD*/
#responsabilidad {
    grid-column: 2/4;
    grid-row: 7/8;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#responsabilidad:hover {
    background-color:rgb(78, 228, 78);
}
/*AQUI VA LA INFORMACION CINFIANZA*/
#confianza {
    grid-column: 2/4;
    grid-row: 8/9;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#confianza:hover {
    background-color:rgb(217, 240, 92);
}
/*AQUI VA LA INFORMACION INICITIVA*/
#iniciativa {
    grid-column: 2/4;
    grid-row: 9/10;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#iniciativa:hover {
    background-color:rgb(78, 228, 78);
}
/*AQUI VA LA INFORMACION CREATIVIDAD*/
#creatividad {
    grid-column: 2/4;
    grid-row: 10/11;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#creatividad:hover {
    background-color:rgb(78, 228, 78);
}
/*AQUI VA LA INFORMACION EQUIPO*/
#equipo {
    grid-column: 2/4;
    grid-row: 11/12;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#equipo:hover {
    background-color:rgb(204, 7, 7);
}
/*AQUI VA LA BARRA NEGRA DE EXPERIENCIA*/
#experiencia {
    grid-column: 2/4;
    grid-row: 12/13;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: experiencia;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE LA BARRA NEGRA DE ESTUDIOS*/
@keyframes experiencia {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DEL TIEMPO*/
#tiempo {
    grid-column: 2/3;
    grid-row: 13/14;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA INFORMACION DEL TIEMPO*/
#trabajo {
    grid-column: 3/4;
    grid-row: 13/14;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA BARRA NEGRA DE PROYECTOS*/
#proyecto {
    grid-column: 2/4;
    grid-row: 14/15;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: proyecto;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE LA BARRA DE PROYECTO*/
@keyframes proyecto {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DE MIS PROYECTOS*/
#no-proyecto {
    grid-column: 2/4;
    grid-row: 15/16;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA BARRA NEGRA DE INTERES*/
#profesional {
    grid-column: 2/4;
    grid-row: 16/17;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: profesional;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE LA BARRA DEL INTERES*/
@keyframes profesional {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DEL INTERES*/
#interes {
    grid-column: 2/4;
    grid-row: 17/18;
    background-color: white;
    border-radius: 20px;
    text-align: justify;
    padding: 15px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA BARRA NEGRA DE MIS LENGUAJES DE PROGRAMACION*/
#programacion {
    grid-column: 2/4;
    grid-row: 18/19;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: programacion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE MI BARRA DE PROGRAMACION*/
@keyframes programacion {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DE C#*/
#C {  
    grid-column: 2/4;
    grid-row: 19/20;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#C:hover {
    background-color:rgb(223, 147, 35);
}
/*AQUI VA LA INFORMACION DE C++*/
#cpp {  
    grid-column: 2/4;
    grid-row: 20/21;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#cpp:hover {
    background-color:rgb(78, 228, 78);
}
/*AQUI VA LA INFORMACION DE Python*/
#Python {  
    grid-column: 2/4;
    grid-row: 21/22;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#Python:hover {
    background-color:rgb(197, 19, 19);
}
/*AQUI VA LA INFORMACION DE PHP*/
#PHP {  
    grid-column: 2/4;
    grid-row: 22/23;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#PHP:hover {
    background-color:rgb(114, 9, 35);
}
/*AQUI VA LA INFORMACION DE JavaScript*/
#JavaScript {  
    grid-column: 2/4;
    grid-row: 23/24;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
#JavaScript:hover {
    background-color:rgb(223, 147, 35);
}
/*AQUI VA LA BARRA NEGRA DE MIS LENGUAJES*/
#lenguajes {
    grid-column: 2/4;
    grid-row: 24/25;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: lenguajes;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE MI BARRA DE LENGUAJES*/
@keyframes lenguajes {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DE ENGLISH*/
#ingles {  
    grid-column: 2/4;
    grid-row: 25/26;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA BARRA NEGRA DE MIS REFERENCIAS*/
#referencias {
    grid-column: 2/4;
    grid-row: 26/27;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: monospace;
    animation-name: referencias;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
/*AQUI VA LA ANIMACION DE MIS REFERENCIAS*/
@keyframes referencias {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}
/*AQUI VA LA INFORMACION DEL NUMERO 1*/
#num1 {  
    grid-column: 2/3;
    grid-row: 27/28;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA INFORMACION DEL REF 1*/
#ref1 {  
    grid-column: 3/4;
    grid-row: 27/28;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA INFORMACION DEL NUMERO 2*/
#num2 {  
    grid-column: 2/3;
    grid-row: 28/29;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}
/*AQUI VA LA INFORMACION DEL REF 2*/
#ref2 {  
    grid-column: 3/4;
    grid-row: 28/29;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}